<div class="container">
	<%= render partial: "shared/navbar"%>
	<div class="nav-page">
		<div class="row">
			<% @users.each do |user| %>
			<div class=" col-md-2 user-item">	
				<div><%= image_tag user.avatar, size: "150x150", class: "img-rounded" %></div>
		      	<div id="user-name"><%= user.name %></div>
			  	<div id="follow-user-button"><%= render partial: "shared/follow", locals: {user: user}%></div>
			  	<div id="friend-user-button"><%= render partial: "shared/friend", locals: {user: user}%></div>
			</div>
		  	<% end %>
		</div>
	</div>
</div>



