<div class="container">
	<div class="panel panel-default panel-table">
		<div class="panel-heading">
			<div class="row">
				<div class="col col-xs-6">
					<h3 class="panel-title">餐廳列表</h3>
					<div>
					  <%= link_to 'Restaurant', admin_restaurants_path %> |
					  <%= link_to 'Categories', admin_categories_path %>
					</div>
				</div>
				<div class="col col-xs-6 text-right">
					<button type="button" class="btn btn-sm btn-create"><%= link_to '新增餐廳', new_admin_restaurant_path%></button>
				</div>
			</div>
		</div>
		<div class="panel-body">
			<div class="table-responsive">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>#</th>
							<th>Name</th>
							<th>Category</th>
							<th>Tel</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						<% @restaurants.each do |restaurant| %>
						<tr>
							<th scope = "row"><%= restaurant.id%></th>
							<td><%= restaurant.name%></td>
							<td><%= restaurant.category.name%></td>
							<td><%= restaurant.tel%></td>
							<td>
								<%= link_to 'Show', admin_restaurant_path(restaurant) %>
								<%= link_to 'Edit', edit_admin_restaurant_path(restaurant) %>
								<%= link_to 'Delete', admin_restaurant_path(restaurant), method: :delete, data: {confirm: "Are you sure?"} %>
							</td>
						</tr>
						<% end %>
					</tbody>	
				</table>
			</div>
		</div>
		<div class="panel-footer">
			<%= paginate @restaurants, :theme => 'twitter-bootstrap-4'%>
		</div>
	</div>
</div>
